.noisdsp{
width: 99%;
margin: 1%;
}

.noisname{
    height: auto;
    font-size: 20px;
    width: 99%;
    font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    background-color: black;
    color: white;
    cursor: pointer;
}
.noisname:hover{
background-color: #86DC3D;
transition: 0.3s ease;
}

.sdkbtn {
    cursor: pointer;
    color: white;
    background: black;
    border: none;
    outline: none;
    width: 25%;
    height: 40px;
    transition: 0.3s;
}

.sdkbtn:hover {
    color: white;
    background: #86DC3D;
}
.sdklink{
    font-size: 18px;
    text-decoration: underline;
    color: black;
}