.projectpageTitle {
    background-color: black;
    color: white;
}

.projectcontainer {
    width: 94%;
    height: auto;
    margin: 3%;
}

.projectlayercontainer {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}
.projectlayercontainer h2{
    cursor:pointer;
}

.projectlayer {
    width: 100%;
    height: 100%;
}

.projectlayerdata {
    font-size: 1.5vw;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bo {
    background: white;
    z-index: 1;
    height: 1.2em;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
@media only screen and (max-width: 768px) {\
projectlayercontainer {
    width: 100%;
}
}
@media only screen and (min-width: 768px) {
.projectlayercontainer {
    width: 48%;
}
}
