.policybtn {
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    width: 40%;
    height: 40px;
    transition: 0.3s;
}

.policybtn:hover {
    color: white;
    background: #86DC3D;
}

.servicefull {
    margin: 1%;
    width: 99%;
    font-size: 20px;
}

.servicefull p {
    font-size: 18px;
}

.servicebanner {
    width: 99%;
    height: auto;
}

.storename{
    height: auto;
    font-size: 20px;
    width: 99%;
    font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    background-color: black;
    color: white;
    cursor: pointer;
}
.storename:hover{
background-color: #86DC3D;
transition: 0.3s ease;
}
