::-webkit-scrollbar{
    display: none;
}
h1{
    font-size: 1.5rem
}
h2{
    font-size: 1.5rem
}
h3{
    font-size: 1.375rem
}
h4{
    font-size: 1.25rem
}
h5{
    font-size: 1.125rem
}
h6{
    font-size: 1rem
}
p{
    font-size: 0.875rem;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow:scroll;
    overflow-x: hidden;
}

#navigationMobile{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 46px;
    background-color:white;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.18);
}
#navigationMain{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 46px;
    background-color:white;
    z-index: 3;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.18);
}
.navigationSection{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navigationContainerMobile{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigationContainerMain{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

#menu{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#bar1, #bar2, #bar3 {
    width: 18px;
    height: 2px;
    background-color: black;
    margin: 3px;
    transition: 0.3s;
    border-radius: 10px;
    opacity: 100%;
    transform: rotate(0) translate(0,0);
    transform-origin: center;
}

#layerHider{
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top:46px;
    background-color: black;
    top: 0;
    display: none;
    opacity: 0%;
    z-index: 1;
    transition: all 0.3s;
    overflow: hidden
}

#categories{
    width: 50%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: -50%;
    margin-top: 46px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y:auto;
}
.categoriesHeader{
    white-space: nowrap;
    min-width: 100%;
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    user-select: none;
}
.categoriesSub{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.categoriesExtender{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
}

.categoriesExtenderBar1{
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: black;
    margin: 3px;
    transition: 0.3s;
    border-radius: 10px;
    opacity: 100%;
    transform: rotate(0) translate(0,0);
    transform-origin: center;
}
.categoriesExtenderBar2{
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: black;
    margin: 3px;
    transition: 0.3s;
    border-radius: 10px;
    opacity: 100%;
    transform: rotate(90deg) translate(0,0);
    transform-origin: center;
}

main{
    z-index: 0;
    margin-top: 46px;
    min-height: calc(100vh - 94px);
}

footer{
    z-index: 0;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px){
    #navigationMobile{
        display: flex;
    }
    #navigationMain{
        display: none;
    }
}

@media screen and (min-width: 769px){
    #navigationMobile{
        display: none;
    }
    #navigationMain{
        display: flex;
    }
}