@font-face {
    font-family: BlenderProBook;
    src: url('../asset/fonts/BlenderProBook.ttf');
    font-display: swap;
}
@font-face {
    font-family: AvitaThin;
    src: url('../asset/fonts/AvitaThin.otf');
    font-display: swap;
}
@font-face {
    font-family: Barcode;
    src: url('../asset/fonts/Barcode.ttf');
    font-display: swap;
}
@font-face {
    font-family: Mono;
    src: url('../asset/fonts/Mono.ttf');
    font-display: swap;
}
@font-face {
    font-family: Jost;
    src: url('../asset/fonts/Jost.ttf');
    font-display: swap;
}
@font-face {
    font-family: Signature;
    src: url('../asset/fonts/Signature.ttf');
    font-display: swap;
}
@font-face {
    font-family: Bio;
    src: url('../asset/fonts/KTNirma.otf');
    font-display: swap;
}
@font-face {
    font-family: Inquest;
    src: url('../asset/fonts/inquest.ttf');
    font-display: swap;
}
@font-face {
    font-family: Pixel;
    src: url('../asset/fonts/Pixel.ttf');
    font-display: swap;
}


:root{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 0%);
    --accent: hsl(0, 0%, 50%);
    --backup:hsl(84, 100%, 59%);
    --fontWeb: 1.125rem;
    --fontMobile: 0.875rem;

    --element-animation: all 0.3s;

    --elevation1: 1;
    --elevation2: 2;
    --elevation3: 3;
    --elevation4: 4;
}

::selection {
    color: var(--primary);
    background-color: var(--secondary);
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Jost';
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;  
    transition: 0.2s all;
    z-index: 0;
}

main{
    width: 100%;
    min-height: 100vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

p{
    font-size: var(--fontWeb);
}

ol,li{
    font-size: var(--fontWeb);
    text-align: justify;
}

a{
    text-decoration: underline;
    color: var(--secondary);
    font-size: var(--fontWeb);
}

table, tr, td{
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

td, th{
    padding: 12px;
    border-bottom: 1px var(--secondary) solid;
}


td ul{
    list-style: none;
}


img {
    pointer-events: none;
}

h1{
    font-size: 2rem;
    font-weight: normal;
}

h2{
    font-size: 1.875rem;
    font-weight: normal;
}
h3{
    font-size: 1.75rem;
    font-weight: normal;
}
h4{
    font-size: 1.5rem;
    font-weight: normal;
}
h5{
    font-weight: normal;
}
h6{
    font-weight: normal;
}

button{
    font-weight: normal;
    width: fit-content;
    height:56px;
    color: var(--secondary);
    background-color: var(--primary);
    cursor: pointer;
    font-size: var(--fontWeb);
    user-select: none;
    outline: none;
    justify-self: center;
    align-items: center;
    border: none;
    border-bottom: 2px solid var(--secondary);
}


nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    height: fit-content;
    margin: 0;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--primary);
}

dialog{
    width: 50%;
    text-align: justify;
    padding: 27px;
    border: none;
    border-radius: 12px;
    z-index: var(--elevation2);
    justify-content: center;
    align-items: center;
}

dialog[open] {
    animation: show 0.3s;
}

.solar{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    
}

.solar > *{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.mass{
    border-radius: 50%;
    background-color: black;
    opacity: 10%;
    margin: 0;
    height: 9vw;
    width: 9vw;
}

.sun{
    transform: scale(1);
}

.p1{
    animation: orbit-p1 1s linear infinite;
}

.p2{
    animation: orbit-p2 1.849s linear infinite;
}

.p3{
    animation: orbit-p3 5.632s linear infinite;
}

.p4{
    animation: orbit-p4 7s linear infinite;
}

.p5{
    animation: orbit-p5 12s linear infinite;
}

.p6{
    animation: orbit-p6 18s linear infinite;
}

.p7{
    animation: orbit-p7 20s linear infinite;
}

.p8{
    animation: orbit-p8 26s linear infinite;
}

.p9{
    animation: orbit-p9 30s linear infinite;
}

.ourgoal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    
    
}

@keyframes orbit-p1 {
    0%{
        transform: rotate(0deg) translate(7vw) scale(0.2);
    }
    100%{
        transform: rotate(360deg) translate(7vw) scale(0.2);
    }
}

@keyframes orbit-p2 {
    0%{
        transform: rotate(0deg) translate(9.5vw) scale(0.2);
    }
    100%{
        transform: rotate(360deg) translate(9.5vw) scale(0.2);
    }
}

@keyframes orbit-p3 {
    0%{
        transform: rotate(0deg) translate(12vw) scale(0.2);
    }
    100%{
        transform: rotate(360deg) translate(12vw) scale(0.2);
    }
}

@keyframes orbit-p4 {
    0%{
        transform: rotate(0deg) translate(14.5vw) scale(0.2);
    }
    100%{
        transform: rotate(360deg) translate(14.5vw) scale(0.2);
    }
}

@keyframes orbit-p5 {
    0%{
        transform: rotate(0deg) translate(18.5vw) scale(0.4);
    }
    100%{
        transform: rotate(360deg) translate(18.5vw) scale(0.4);
    }
}

@keyframes orbit-p6 {
    0%{
        transform: rotate(0deg) translate(23.5vw) scale(0.4);
    }
    100%{
        transform: rotate(360deg) translate(23.5vw) scale(0.4);
    }
}

@keyframes orbit-p7 {
    0%{
        transform: rotate(0deg) translate(28vw) scale(0.3);
    }
    100%{
        transform: rotate(360deg) translate(28vw) scale(0.3);
    }
}

@keyframes orbit-p8 {
    0%{
        transform: rotate(0deg) translate(32vw) scale(0.3);
    }
    100%{
        transform: rotate(360deg) translate(32vw) scale(0.3);
    }
}

@keyframes orbit-p9 {
    0%{
        transform: rotate(0deg) translate(35vw) scale(0.2);
    }
    100%{
        transform: rotate(360deg) translate(35vw) scale(0.2);
    }
}

@keyframes show{
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;;
    }
}

article{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

input{
    border: none;
    border-bottom: 2px solid var(--secondary);
    outline: none;
}

address{
    font-style: italic;
    font-size: var(--fontWeb);
    text-align: center;
    margin: 5%;
}

noscript{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--primary);
    background-image: url(../asset/icon/glitchbg.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index:var(--elevation2);
}

noscript p{
    text-align: center;
    font-size: var(--fontWeb);
    color: var(--secondary);
    margin: 0;
}

footer p{
    margin: 0;
}

.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.mainLogo{
    width: 12%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    pointer-events: none;
    filter: invert(100%);
}

#mobileNavigation{
    background-color: var(--primary);
    display: none;
    transition:0.2s all;
    backdrop-filter: grayscale(90%) brightness(6%);
    opacity: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--elevation3);
}

#mobileNavigation p{
    color: var(--secondary);
}

#mobileControl{
    display: none;
}
#webNavigation{
    display: grid;
}

#clientQuery{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#clientQuery input{
    width: 50%;
}

#clientQuery button{
    width: 50%;
}

#clientContainer{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#clientContainer button{
    width: 50%;
}

.clientDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 1rem;
    width: 100%;
}

.clientData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientData p{
    margin: 0;
}

.clientProcess{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.guardianBanner{
    width: 75%;
    aspect-ratio: 16/9;
    object-fit: cover;
    justify-content: center!important;
    align-self: center;
}

.guardianButton{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 6px;
    width: 100%;
    justify-self: center;
    align-items: center;
    margin: auto;
}

.guardianButton button{
    width: 50%;
    justify-self: center;
}

.terms p{
    text-align: justify;
}

.content{
    width: 80%;
    min-height: 75vh;
    margin: 0;
    padding: 0;
    transition: 0.3s all;
}

.idimage{
    width: 50%;
}

.artGallery{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.artGallery img{
    aspect-ratio: 1/1;
    object-fit: cover;
    user-select: none;
}

.Servicedetails{
    width: 100%;
    color: var(--secondary);
    transition: 0.3s all;
}

.Servicesummary{
    height: 72px;
    font-size: var(--fontWeb);
    list-style: none;
    text-align: center;
    color: var(--secondary);
    background-color: var(--primary);
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
}

.Servicesummary:hover{
    background-color: var(--secondary);
    color: var(--primary);
    transition: var(--element-animation);
}

.landingContainer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 64px;
    margin-bottom: 64px;
}

.landingData{
    display: grid;
    grid-template-rows: auto auto;
}

.landingContainer h1{
    text-align: center;
}
.landingData p{
    text-align: justify;
}

.capitalShowcase{
    width: 100%;
    height: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.capitalSingle{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.capitalInteract{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finePrint{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.businessmap{
    width: 75%;
    aspect-ratio: 16/9;
    height: 40vw;
    filter: grayscale(100%);
}

.businessmap iframe{
    border-radius: 18px;
}


@media screen and (max-width:1024px) and (min-width: 481px){
    .mainLogo{
        width: 18%;
    }
    #mobileNavigation{
        display: none;
    }
    #mobileControl{
        display: block;
    }
    #webNavigation{
        display: none;
    }
    .capitalShowcase{
        grid-template-columns: 1fr 1fr;
    }
    .cardHeading{
        font-size: var(--CardHeadTablet)!important;
    }
    .investCardRow p{
        font-size:var(--fontTablet-versatile);
    }
    .button{
        font-size: var(--fontTablet-versatile);
    }
    .modelPortfolioDetails{
        grid-template-columns: 1fr 1fr;
    }
    .guardianBanner{
        width: 100%;
    }
    .businessmap{
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    main{
        font-size: var(--fontMobile);
    }
    p, ol, li, address{
        font-size: var(--fontMobile);
    }

    a{
        font-size: var(--fontMobile);
    }
    .mainLogo{
        width: 25%;
    }
    #mobileNavigation{
        display: none;
    }
    #mobileControl{
        display: block;
    }
    #webNavigation{
        display: none;
    }
    .businessmap{
        width: 100%;
    }
    .guardianButton{
        width: 100%;
    }
    .guardianButton button{
        width: 100%;
    }
    .idimage{
        width: 100%;
    }
    .artGallery{
        grid-template-columns: 1fr;
    }
    .landingContainer{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .capitalShowcase{
        grid-template-columns: 1fr;
    }
    .finePrint{
        width: 100%;
    }
    .cardHeading{
        font-size: var(--CardHeadMobile)!important;
    }
    .investCard{
        aspect-ratio: 16/9;
    }
    .investCardRow p{
        font-size: var(--fontMobile-versatile);
    }
    .button{
        font-size: var(--fontMobile-versatile);
    }
    dialog{
        width: 75%;
    }
    .modelPortfolioDetails{
        grid-template-columns: 1fr;
    }
    .guardianBanner{
        width: 100%;
    }
    
}


@keyframes ghostfloat{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0%);
    }
}