@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'BlenderProBook'; /*a name to be used later*/
    src: url('../asset/fonts/BlenderProBook.ttf'); /*URL to font*/
    font-display: swap;
}

@font-face {
    font-family: 'AvitaThin'; /*a name to be used later*/
    src: url('../asset/fonts/AvitaThin.otf'); /*URL to font*/
    font-display: swap;
}

@font-face {
    font-family: 'Barcode'; /*a name to be used later*/
    src: url('../asset/fonts/Barcode.ttf'); /*URL to font*/
    font-display: swap;
}

:root{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

::selection {
    color: black;
    background-color: white;
  }


body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
    
}

h1{
    font-family: 'BlenderProBook';
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

h2{
    font-family: 'BlenderProBook';
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

h3{
    font-family: 'BlenderProBook';
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}

img{
    pointer-events: none;
}

nav {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 24px ;
}
nav div {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div div {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-items:center;
    row-gap: 8px;
}

nav div a{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div a img{
    width: 40%;
    height: fit-content;
    filter: invert(100%);
    pointer-events: none;
}

nav div div a{
    color: white;
    font-family: 'AvitaThin';
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
}

main{
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 64px;
}

main p{
    font-size: 1rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.renderContainer{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    
}
.renderDisplay{
    width: 100%;
    height: 100%;
}

.renderDisplay a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.renderDisplay a p{
    position: absolute;
    font-family: 'BlenderProBook';
    color: white;
    font-size: 1.5rem;
}

.renderDisplay a img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.renderShowcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.renderShowcase img{
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 64px;
}

.studioDetails{
    width: 90%;
    text-align: justify;
    margin:24px;
}

.chrysalisDetails{
    width: 90%;
    text-align: justify;
    margin:24px;
}

.chrysalisProduct{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 8px;
    justify-content: space-evenly;
    align-items: center;
}

.chrysalisProduct div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chrysalisProduct div img{
    width: 100%;
    height: max-content;
}

.download{
    width: 90%;
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px;
    font-family: 'BlenderProBook';
    font-size: 1rem;
    border-radius: 18px;
    transition: 0.3s;
}

.download:hover{
    color: black;
    background-color:greenyellow;
}

.experimental:hover{
    background-color:red!important;
}

.businessLogo{
    width: 100%;
}
.guardianDetails{
    width: 90%;
    text-align: justify;
    margin:24px;
}

.intelDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.intelDetails img{
    width: 100%;
    height: auto;
    pointer-events: none;
}
.intelDetails p{
    width: 90%;
    height: auto;
}

.diaryDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.diaryDetails a{
    color: white;
    text-decoration: none;
}

.contact{
    width: 50%;
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px;
    font-family: 'BlenderProBook';
    font-size: 1rem;
    border-radius: 18px;
    transition: 0.3s;
}

.contact:hover{
    color: black;
    background-color:greenyellow;
}

.intelSocial{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 12px;
}

.intelSocial a{
    font-family: 'BlenderProBook';
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
}

.clientContainer{
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 50% 50%;
}

.clientContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    cursor: pointer;
    
}
.clientContainer img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: blur(0);
    opacity: 100%;
    transition: 0.3s ease;
}
.clientContainer div div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0%;
    transition: 0.3s ease;
}

.clientContainer div div p{
    font-size: 1rem;
    user-select: none;
}

.clientContainer div:hover img{
    filter: blur(4px);
    opacity: 25%;
}

.clientContainer div:hover div{
    opacity: 100%;
}

.legal{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.legal a{
    color: white;
    font-size: 0.875 rem;
}

.legalDetails{
    width: 90%;
    text-align: left;
    margin:24px;

}

@media screen and (min-width:1024px) {
    .businessLogo{
        width: 50%;
    }
    nav div div a{
        font-size: 1.5rem;
    }
    nav div a{
        width: 100%;
    }
    nav div a img{
        width: 25%;
    }
    .renderContainer{
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    .chrysalisProduct{
        grid-template-columns: 30% 30% 30%;
    }
    .intelDetails img{
        width: 50%;
        height: auto;
    }
    .clientContainer{
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .contact{
        width: 25%;
    }
    
}

@media print{
    body{
        color: black;
        background-color: white;
    }
    img{
        display: none;
    }
    nav{
        display: none;
    }
    a{
        display: none;
    }

}