@font-face {
    font-family: BlenderProBook;
    src: url('../asset/fonts/BlenderProBook.ttf');
    font-display: swap;
}
@font-face {
    font-family: AvitaThin;
    src: url('../asset/fonts/AvitaThin.otf');
    font-display: swap;
}
@font-face {
    font-family: Barcode;
    src: url('../asset/fonts/Barcode.ttf');
    font-display: swap;
}
@font-face {
    font-family: Mono;
    src: url('../asset/fonts/Mono.ttf');
    font-display: swap;
}
@font-face {
    font-family: Jost;
    src: url('../asset/fonts/Jost.ttf');
    font-display: swap;
}
@font-face {
    font-family: Signature;
    src: url('../asset/fonts/Signature.ttf');
    font-display: swap;
}
@font-face {
    font-family: Bio;
    src: url('../asset/fonts/KTNirma.otf');
    font-display: swap;
}
@font-face {
    font-family: Inquest;
    src: url('../asset/fonts/inquest.ttf');
    font-display: swap;
}
@font-face {
    font-family: Pixel;
    src: url('../asset/fonts/Pixel.ttf');
    font-display: swap;
}

:root{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    --primary: #000000;
    --secondary: #ffffff;
    --accent:greenyellow;
    --fontWeb: 1.25rem;
    --fontMobile: 0.875rem;
}
::selection {
    color: var(--primary);
    background-color: var(--accent);
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Jost';
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;  
    transition: 0.2s all;
}

main{
    width: 100%;
    min-height: 100vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

p{
    font-size: var(--fontWeb);
}

ol,li{
    font-size: var(--fontWeb);
    text-align: justify;
}

a{
    text-decoration: none;
    color: var(--primary);
    font-size: var(--fontWeb);
}

img {
    pointer-events: none;
}

h1{
    font-size: 2rem;
    font-weight: normal;
}

h2{
    font-size: 1.875rem;
    font-weight: normal;
}
h3{
    font-size: 1.75rem;
    font-weight: normal;
}
h4{
    font-size: 1.5rem;
    font-weight: normal;
}
h5{
    font-weight: normal;
}
h6{
    font-weight: normal;
}

button{
    font-weight: normal;
    border: 2px var(--secondary) solid;
    width: 100%;
    height:48px;
    color: var(--secondary);
    background-color: var(--primary);
    cursor: pointer;
    font-size: var(--fontWeb);
    user-select: none;
    margin-bottom: 6px;
    border-radius: 30px;
}

button:hover{
    color: var(--primary);
    background-color: var(--accent);
    border: 2px var(--accent) solid;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    height: fit-content;
    margin: 0;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--primary);
}

address{
    font-style: italic;
    font-size: var(--fontWeb);
    text-align: center;
    margin: 5%;
}

noscript{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: red;
    padding: 2%;
}
noscript p{
    text-align: center;
    font-size: var(--fontWeb);
    margin: 0;
}


footer p{
    margin: 0;
}

.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner p{
    text-align: center;
}

#mobileNavigation{
    display: none;
    transition:0.2s all;
    backdrop-filter: grayscale(90%) brightness(6%);
    opacity: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

#mobileNavigation{
    display: none;
    transition:0.2s all;
    backdrop-filter: grayscale(90%) brightness(6%);
    opacity: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;width: 100%;
    height: 100%;
    z-index: 3;
}

#mobileControl{
    display: none;
}
#webNavigation{
    display: grid;
}

.guardianButton{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 6px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.terms p{
    text-align: justify;
}

.content{
    width: 80%;
    min-height: 75vh;
    margin: 0;
    padding: 0;
    transition: 0.3s all;
}

.idimage{
    width: 50%;
}

.artGallery{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.artGallery img{
    aspect-ratio: 1/1;
    object-fit: cover;
    user-select: none;
}

.Servicedetails{
    width: 100%;
    color: var(--secondary);
    transition: 0.3s all;
}

.Servicesummary{
    height: 72px;
    font-size: var(--fontWeb);
    list-style: none;
    text-align: center;
    color: var(--secondary);
    background-color: var(--primary);
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
}

.Servicesummary:hover{
    background-color: var(--accent);
    color: var(--primary);
}

.landingContainer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 64px;
    margin-bottom: 64px;
}

.landingData{
    display: grid;
    grid-template-rows: auto auto;
}

.landingContainer h1{
    text-align: center;
}
.landingData p{
    text-align: justify;
}

.nftContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 6px;
}
.nftItems{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
}
.nftItems a img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}
.nftItems p{
    text-align: center;
    margin: 6px;
}

@media screen and (max-width:768px) {
    main{
        font-size: var(--fontMobile);
    }
    p,ol,li,address{
        font-size: var(--fontMobile);
    }

    a{
        font-size: var(--fontMobile);
    }
    #mobileNavigation{
        display: none;
    }
    #mobileControl{
        display: block;
    }
    #webNavigation{
        display: none;
    }
    .guardianButton{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .idimage{
        width: 100%;
    }
    .artGallery{
        grid-template-columns: 1fr;
    }
    .landingContainer{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .nftContainer{
        grid-template-columns: 1fr;
    }
}


@keyframes ghostfloat{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0%);
    }
}