@font-face {
    font-family: BlenderProBook; /*a name to be used later*/
    src: url('../asset/fonts/BlenderProBook.ttf'); /*URL to font*/
    font-display: swap;
}
@font-face {
    font-family: AvitaThin; /*a name to be used later*/
    src: url('../asset/fonts/AvitaThin.otf'); /*URL to font*/
    font-display: swap;
}
@font-face {
    font-family: Barcode; /*a name to be used later*/
    src: url('../asset/fonts/Barcode.ttf'); /*URL to font*/
    font-display: swap;
}
@font-face {
    font-family: Mono; /*a name to be used later*/
    src: url('../asset/fonts/Mono.ttf');
    font-display: swap;
}
@font-face {
    font-family: Jost;
    src: url('../asset/fonts/Jost.ttf');
    font-display: swap;
}
@font-face {
    font-family: Signature;
    src: url('../asset/fonts/Signature.ttf');
    font-display: swap;
}
@font-face {
    font-family: Bio;
    src: url('../asset/fonts/KTNirma.otf');
    font-display: swap;
}
@font-face {
    font-family: Inquest;
    src: url('../asset/fonts/inquest.ttf');
    font-display: swap;
}
@font-face {
    font-family: Pixel;
    src: url('../asset/fonts/Pixel.ttf');
    font-display: swap;
}

:root{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    --primary: #000000;
    --secondary: #ffffff;
    --accent:greenyellow;
}
::selection {
    color: black;
    background-color: greenyellow;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Jost';
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;  
    transition: 0.2s all;
}


main{
    width: 100%;
    min-height: 100vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 1.25rem;
}
p{
    font-size: 1.25rem;
}

a{
    text-decoration: none;
    color: var(--primary);
    font-size: 1.25rem;
}

img {
    pointer-events: none;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 92px;
}

.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mobileNavigation{
    display: none;
    transition:0.2s all;
    backdrop-filter: grayscale(90%) brightness(6%);
    opacity: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;width: 100%;
    height: 100%;
    z-index: 3;
}

#mobileControl{
    display: none;
}
#webNavigation{
    display: grid;
}

.terms h1{
    font-size: 32px;
    font-weight: normal;
}
.terms h2{
    font-weight: normal;
}
.terms p{
    text-align: justify;
}

footer{
    width: 100%;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 64px;
    background-color: var(--primary);
}
footer p{
    margin: 0;
}

.content{
    width: 80%;
    min-height: 75vh;
    margin: 0;
    padding: 0;
    transition: 0.3s all;
}

button{
    font-weight: normal;
    border: none;
    width: 100%;
    margin: 3px;
    height:64px;
    min-height: 64px;
    color: var(--primary);
    background-color: var(--secondary);
    cursor: pointer;
    opacity: 100%;
    font-size: 1rem;
    font-family: Jost;
    user-select: none;
}
button:hover{
    color: var(--primary);
    background-color: var(--accent);
}

h1{
    font-size: 2rem;
    font-weight: normal;
    font-family: Jost;
}
h2{
    font-weight: normal;
    font-family: Jost;
}
h3{
    font-weight: normal;
    font-family: Jost;
}

.idimage{
    width: 50%;
}

.artGallery{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.artGallery img{
    aspect-ratio: 1/1;
    object-fit: cover;
    user-select: none;
}

.Servicedetails{
    width: 100%;
    color: var(--secondary);
    transition: 0.3s all;
}

.Servicesummary{
    height: 72px;
    font-size: 1.25rem;
    list-style: none;
    text-align: center;
    color: var(--secondary);
    background-color: var(--primary);
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
}

.Servicesummary:hover{
    background-color: var(--accent);
    color: var(--primary);
}

.landingContainer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 64px;
    margin-bottom: 64px;
}

.landingData{
    display: grid;
    grid-template-rows: auto auto;
}

.landingContainer h1{
    text-align: center;
}
.landingData p{
    text-align: justify;
}

.nftContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 6px;
}
.nftItems{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
}
.nftItems a img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}
.nftItems p{
    text-align: center;
    margin: 6px;
}

.eth{
    height: 1.25rem;
    width: 1.25rem;
}

@media screen and (max-width:768px) {
    main{
        font-size: 0.875rem;
    }
    p{
        font-size: 0.875rem;
    }
    .eth{
        height: 0.875rem;
        width: 0.875rem;
    }
    a{
        font-size: 0.875rem;
    }
    #mobileNavigation{
        display: none;
    }
    #mobileControl{
        display: block;
    }
    #webNavigation{
        display: none;
    }
    .idimage{
        width: 100%;
    }
    .artGallery{
        grid-template-columns: 1fr;
    }
    .landingContainer{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .nftContainer{
        grid-template-columns: 1fr;
    }
}


@keyframes ghostfloat{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0%);
    }
}