@font-face {
    font-family: Standard;
    src: url(../asset/fonts/AllianceNo2Regular.otf);
}
:root{
    --base-unit: 16px;

    --colorbase-fg: hsla(0, 0%, 100%);
    --colorbase-bg: hsla(0, 0%, 0%);
    --colorbase-ag: hsl(90, 89%, 80%);

    --border-subtle: 2px hsl(90, 89%, 80%) solid;

    --scaling-01: 0.5rem;
    --scaling-02: 0.75rem;
    --scaling-03: 0.875rem;
    --scaling-04: 1rem;
    --scaling-05: 1.5rem;
    --scaling-06: 2rem;
    --scaling-07: 2.5rem;
    --scaling-08: 3rem;
    --scaling-09: 4rem;
    --scaling-10: 5rem;
    
    --motion-standard: ease all;
    --motion-pace-fast:0.15s;
    --motion-pace-slow:0.5s;

    --layer-0: 0;
    --layer-1: 1;
    --layer-2: 2;
    --layer-3: 3;
    --layer-4: 4;
    --layer-5: 5;
}
::selection{
    background-color: var(--colorbase-ag);
    color: var(--colorbase-bg);
}

html{
    font-family: Standard;
    font-size: var(--base-unit);
    box-sizing: border-box;
    margin: 0;
    color: var(--colorbase-fg);
}
body{
    color: inherit;
    box-sizing: inherit;
    margin: inherit;
    padding: 0;
    background-color: var(--colorbase-bg);
}
details{
    width: 100%;
    box-sizing: border-box;
}
summary{
    list-style: none;
    cursor: pointer;
}
table{
    width: fit-content;
    box-sizing: border-box;
    table-layout: auto;
}
td, th{
    padding: var(--scaling-01);
    box-sizing: border-box;
    text-align: left;
    padding-bottom: 1rem;
}
summary::-webkit-details-marker {
    display: none;
}
h1,h2{
    line-height: 1.5;
    font-weight: 400;
    margin-top: var(--scaling-05);
    margin-bottom: var(--scaling-05);
    display: flex;
    justify-content: start;
    align-self: center;
    text-align: left;
    width: 100%;
    color: inherit;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 2.5rem;
}
p{
    width: fit-content;
    color: inherit;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1rem;
    text-align: justify;
    justify-content: start;
    align-self: start;
}
li{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
dialog{
    background-color: var(--colorbase-bg);
    color: var(--colorbase-fg);
    min-width: 50vw;
    max-width: 600px;
    height: fit-content;
    max-height: 75vh;
    overflow-y: auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    border: 3px var(--colorbase-ag) solid;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    z-index: var(--layer-2);
    padding: 1rem;
}
.button{
    display: flex;
    background-color: var(--colorbase-ag);
    border: 1px transparent solid;
    color: var(--colorbase-bg);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    transition: var(--motion-pace-fast) var(--motion-standard);
    margin: 0;
}
.button::selection{
    background: transparent;
}

.button[data-button-variant="standard"]{
    align-items: center;
    height: var(--scaling-08);
    justify-content: start;
    padding: var(--scaling-05);
    aspect-ratio: 3/1;
}
.button:hover{
    background-color: var(--colorbase-bg);
    color: var(--colorbase-fg);
    border: 1px var(--colorbase-fg) solid;
}
.button:active{
    background-color: var(--colorbase-fg);
    color: var(--colorbase-bg);
    border: 1px var(--colorbase-bg) solid;
}

.input{
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    border-bottom: var(--border-subtle);
    color: var(--colorbase-fg);
    caret-color: var(--colorbase-fg);
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-size: 0.875rem;
}
.input:placeholder-shown{
    color: var(--colorbase-fg);
}

.main-container{
    align-items: center;
    background-color: var(--colorbase-bg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: var(--scaling-08);
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding:var(--scaling-04);
    padding-top:var(--scaling-08);
    padding-bottom:var(--scaling-08);
    overflow: hidden;
}

.gridDataContainer{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#datainvalid{
    display: flex;
    flex-direction: column;
}
#datavalid{
    display: flex;
    flex-direction: column;
}
  
.feesPanel{
    background-color: transparent;
    color: var(--colorbase-fg);
    width: fit-content;
    height: fit-content;
    outline: none;
    box-sizing: border-box;
    padding: 0.5rem;
    border: none;
    border-bottom: var(--border-subtle);
    display: flex;
    justify-content: center;
    align-items: center;
}
#output{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1.5rem;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--colorbase-bg);
    color: var(--colorbase-fg);
    width: 100%;
    height: fit-content;
    outline: none;
    box-sizing: border-box;
    padding: 1rem;
    border: none;
    border-bottom: var(--border-subtle);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
}
select optgroup {
  background-color: var(--colorbase-bg);
  color: var(--colorbase-fg);
}
select optgroup option {
  background-color: var(--colorbase-bg);
  color: var(--colorbase-fg);
}
@media screen and (max-width: 425px) {
    h1{
        font-size: 3rem;
    }
    .gridDataContainer{
        grid-template-columns: 1fr;
    }
    dialog{
        width: 75%;
    }
}

@keyframes floatingAnim{
    0%{
        margin-top: 1rem;
    }
    50%{
        margin-top: 0rem;
    }
    100%{
        margin-top: 1rem;
    }
}
