@font-face {
    font-family: Baskerville;
    src: url(../assets/font/LibreBaskerville-Regular.ttf);
    font-display: block;
}
@font-face {
    font-family: LeagueGothic;
    src: url(../assets/font/LeagueGothic.ttf);
    font-display: block;
}
:root{
    --baseColor: rgb(255, 255, 255);
    --textColor: rgb(33 37 41);
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: Baskerville;
    font-size: 16px;
    background-color: var(--baseColor);
    color: var(--textColor);
    margin: 0;
    padding: 0;
    width: 100%;
}

#menuClose{
    display: none;
}
#menuOpen{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    padding-bottom: 64px;
    row-gap: 32px;
}

input{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 0;
}
.inputButton{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border: none;
    background-color: black;
    color: white;
    font-family: LeagueGothic;
    height: 52px;
    
}

section{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

blockquote{
    margin: 0;
    font-weight: bold;
    border-top: 2px solid rgb(110, 202, 208);
    border-bottom: 2px solid rgb(110, 202, 208);
    padding-top: 64px;
    padding-left: 16px;
    padding-bottom: 64px;
    padding-right: 16px;
    font-size: 1.5rem;
    color: rgb(33, 37, 41);
    background-color: rgba(110, 202, 208, 0.2);
    text-align: center;
}

nav{
    display: flex; height: 80px; justify-content: center; align-items: center; margin: 0; padding: 8px; background-color: hsl(170, 100%, 94%); font-family: LeagueGothic; position: fixed; top: 0; left: 0; right: 0; z-index: 10; transition: 0.5s all;
}
#navMobile{
    display: flex; justify-content: space-between; align-items: center; gap: 12px; height: 100%; width: 100%;
}
#navWeb{
    display: none; justify-content: space-between; align-items: center; gap: 12px; height: 100%; width: 100%; padding-left: 3rem; padding-right: 3rem;
}
#navMobileDisplay{
    display: flex; flex-direction: column; width: 100%; justify-content: flex-start ; align-items: start; margin: 0; padding-left: 8px; padding-right: 8px; padding-top: 32px; padding-bottom: 32px; background-color: hsl(170, 100%, 94%); font-family: LeagueGothic; row-gap: 16px;
    top: -100%; z-index: 2; transition: 0.3s all; position: fixed;
}

.menuIcon{
    height: 100%; display: flex; justify-content: center; align-items: center;
}
.socialLink{
    text-decoration: none; color: rgb(60, 76, 84); height: 100%; aspect-ratio: 1/1;
}
.small-text{
    font-size: 0.875rem; color: rgb(60, 76, 84);
}
.world{
    fill: gray
}
.authorContainer{
    display: flex; flex-direction: column; justify-content: start; align-items: start; gap: 12px;
}
.authorContainer div{
    display: flex; gap: 12px; justify-content: center;
    align-items: center;
}
.authorContainer div img{
    display: flex; height: 64px; width: 64px; aspect-ratio: 1/1; object-fit: cover; border-radius: 32px;
}
.authorContainer div p{
    height: 100%; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: LeagueGothic;
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: rgb(60, 76, 84);
}
.authorContainer p{
    height: 100%; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe{
    background-color: rgb(199, 46, 33); color: white; font-size: 24px; line-height: 32px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border: none; font-family: LeagueGothic; width: fit-content; cursor: pointer;
}
.subscribe:hover{
    background-color: rgb(255, 76, 60)
}
.COOP{
    width:10%; display: flex; justify-content: center; align-items: center;
    aspect-ratio: 1/1;
}
.navLinks{
    margin: 0; line-height: 32px; font-size: 24px; font-family: LeagueGothic; transition: 0.2s all ease;
    cursor: pointer;
}
.navLinks:hover{
    color: red;
}
.religionBox{
    border: 2px solid rgb(202, 138, 4);
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: space-evenly;
    padding: 32px;
    
}
.subscriptionData{
    background-color: rgb(255, 215, 215); padding-left: 12px; padding-right: 12px; padding-top: 64px; padding-bottom: 64px; display: flex; flex-direction: column;
}
.subscriptionContainer{
    width: 100%; background-color: rgb(255, 215, 215); display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.footerData{
    background-color: rgb(110, 202, 208); padding-left: 12px; padding-right: 12px; padding-top: 12px; padding-bottom: 12px; display: flex; flex-direction: column; gap: 32px;
}

p{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-wrap: pretty;
    font-family: Baskerville;
    margin: 0;
}

svg{
    fill: rgb(60, 76, 84);
    height: 24px;
}

h1{
    font-size: 2.5rem;
    font-family: LeagueGothic;
    color: rgb(60, 76, 84);
    margin: 0;
}
h2{
    font-size: 2rem;
    font-family: LeagueGothic;
    color: rgb(60, 76, 84);
}

figcaption{
    font-size: 12px;
    line-height: 16px;
    font-family: 'Roboto';
    padding-top: 8px;
    color: rgb(107, 114, 128);

}
img, video{
    width: 100%;
    box-sizing: border-box;
}

footer{
    padding-top: 12px; padding-bottom: 12px; padding-left: 16px; padding-right: 16px; display: flex; flex-direction: column; background-color: rgb(110, 202, 208); justify-content: center; align-items: center;
}
  
@media screen and (min-width: 1024px) {
    #navWeb{
        width: 768px;
        max-width: 1024px;
        padding-left: auto;
        padding-right: auto;
    }
    main{
        width: 768px;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    .subscriptionData{
        width: 768px;
        max-width: 1024px;
        padding-left: auto;
        padding-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }
    .footerData{
        width: 768px;
        max-width: 1024px;
        padding-left: auto;
        padding-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        align-items: start;
    }
    #navMobile{
        display: none;
    }
    #navWeb{
        display: flex;
    }
    #navMobileDisplay{
        display: none;
    }
    .COOP{
        width:50%;
    }
    .religionBox{
        flex-direction: row;
    }
}