@font-face {
    font-family: Standard;
    src: url(../../../asset/fonts/AllianceNo2Regular.otf);
}
:root{
    --base01: hsl(0, 0%, 0%);
    --base02: hsl(0, 0%, 25%);
    --base03: hsl(0, 0%, 50%);
    --base04: hsl(0, 0%, 75%);
    --base05: hsl(0, 0%, 100%);
}

html{
    font-family: Standard;
    font-size: 16px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 1rem;
}
nav{
    width: 100%;
    box-sizing: inherit;
    padding: 1rem;
    border-bottom: 1px var(--base04) solid;
}
nav p{
    color: var(--base01);
    margin: 0;
}
main{
    box-sizing: inherit;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-height: 100%;
    padding: 1rem;
    padding-bottom: 3rem;
}
button{
    background-color: var(--base01);
    color: var(--base05);
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 5/1;
    padding: 0.875rem;
    cursor: pointer;
}
table{
    table-layout: auto;
    width: 100%;
}
td{
    color: var(--base03);
}
p{
    color: var(--base03);
    font-size: 1rem;
}
a{
    color: var(--base01);
}
h1{
    color: var(--base01);
    font-size: 2.5rem;
}
h2{
    font-size: 1.5rem;
}
details{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
summary{
    width: 100%;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: start;
    align-items: baseline;
    border-bottom: 1px var(--base04) solid;
}
summary::-webkit-details-marker {
    display: none;
}
footer{
    width: 100%;
    border-top: 1px var(--base04) solid;
}

.dualContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: start;
}

@media screen and (max-width: 768px){
    html{
        font-size: 12px;
    }
    .dualContainer{
        grid-template-columns: 1fr;
    }
}