.ciphercontainer{
  margin:10px;
  width=100%
  height=auto;
}

.cipherbutton {
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: black;
    border: none;
    outline-color: white;
    width: 30%;
    height: 40px;
    -webkit-user-select: all;
    -moz-user-select: all;
}
