body{
    font-family: 'Times New Roman';
    margin: 0;
    width: 100%;
    min-width: 375px;
    font-size: 18px;
    background-color: white;
    color: black;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: black;
    margin: 0;
}

hgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

hgroup p{
    text-align: center;
    font-size: 1rem;
}

h1{
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
}

h2{
    font-size: 1.7rem;
    text-align: center;
    font-weight: normal;
}

main{
    margin: 18px;
}



ul{
    list-style: none;
    padding-left: 27px;
}

li{
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: justify; 
    font-size: 16px;
    line-height: 1.5;
}

strong{
    text-decoration: underline;
}