body{
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: 'Roboto Mono';
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

details{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border:none ;
    border-top: 3px black solid;
    border-bottom: 9px black solid;
    margin: 0;
    transition: 1s all ease ;
}
details:hover{
    border-top: 3px greenyellow solid;
    border-bottom: 9px greenyellow solid;
}

summary{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 9px;
}

nav{
    margin-top: 18px;
    margin-bottom: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 9px;
}
h1{
    margin: 27px;
    font-size: 1.5rem;
    font-weight: normal;
}
h2{
    margin: 18px;
    font-size: 1.2rem;
    font-weight: normal;
}
img{
    width: 100%;
    height: 100%;
}
footer{
    margin-top: 9px;
    margin-bottom: 9px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    padding: 9px;
    border:2px white solid;
    margin: 0;
}

.statusBanner{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayCellL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
}
.displayCellR{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}
.visualGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.visualGrid img{
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.dataGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}